<section class="section">
  <div class="content container">
    {% if cart.item_count > 0 %}
      <h1>{{ 'cart.general.title' | t }}</h1>

      <form action="/cart" method="post" novalidate>
        <table class="responsive-table">
          <thead class="small--hide">
            <tr>
              <th colspan="2">{{ 'cart.label.product' | t }}</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="responsive-table-row">
                <td data-label="{{ 'customer.order.product' | t }}">
                  <a href="{{ item.url | within: collections.all }}">
                    <img src="{{ item | img_url: '100x100' }}" alt="{{ item.title | escape }}">
                  </a>
                </td>
                <td>
                  <a href="{{ item.url }}">{{ item.product.title }}</a>

                  {% unless item.product.has_only_default_variant %}
                    <p>{{ item.variant.title }}</p>
                  {% endunless %}

                  <p>{{ item.vendor }}</p>

                  {%- assign property_size = item.properties | size -%}

                  {% if property_size > 0 %}
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                      {{ p.first }}:

                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      {% endunless %}
                    {% endfor %}
                  {% endif %}
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <small>{{ 'cart.general.remove' | t }}</small>
                  </a>
                </td>
                <td data-label="{{ 'cart.label.price' | t }}">
                  {% if item.original_line_price != item.line_price %}
                    <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                    {{ item.price | money }}
                    <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                    <s>{{ item.original_price | money }}</s>
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                </td>
                <td data-label="{{ 'cart.label.quantity' | t }}">
                  <div class="field">
                    <div class="control">
                      <input type="number"
                         name="updates[]"
                         id="updates_{{ item.key }}"
                         class="input" 
                         value="{{ item.quantity }}"
                         min="0"
                         aria-label="{{ 'cart.general.item_quantity' | t }}">
                    </div>
                  </div>
                </td>
                <td data-label="{{ 'cart.label.total' | t }}">
                  {{ item.line_price | money }}
                </td>
              </tr>

            {% endfor %}
          </tbody>
        </table>
        
        <div class="columns">
          <div class="column is-6">
            {% if settings.cart_notes_enable %}
            <div class="field">
              <label for="CartSpecialInstructions" class="label">{{ 'cart.general.note' | t }}</label>
              <div class="control">
                <textarea name="note" id="CartSpecialInstructions" class="textarea">{{ cart.note }}</textarea>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="column is-6 has-text-right">
            <p class="is-marginless is-bold">{{ 'cart.general.subtotal' | t }}</p> 
            <p>{{ cart.total_price | money }}</p>
            {% if cart.total_discounts > 0 %}
              <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
            {% endif %}
            <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
            <div class="field is-grouped is-grouped-right">
              <div class="control">
                <input type="submit" class="button" name="update" value="{{ 'cart.general.update' | t }}">
              </div>
              <div class="control">
                <input type="submit" name="checkout" class="button  is-primary" value="{{ 'cart.general.checkout' | t }}">
              </div>
            </div>
          </div>
        </div>
      </form>
    {% else %}
      <h1>{{ 'cart.general.title' | t }}</h1>

      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>
      
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    {% endif %}
  </div>
</section>