<section class="section">
  <div class="container">
    {% paginate collection.products by 12 %}
      <header role="banner">
        <div class="content">
          <h1>{{ collection.title }}</h1>
          {% if collection.description != blank %}
          {{ collection.description }}
          {% endif %}
        </div>

        {% if collection.all_tags.size > 0 %}
        <p>
          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
            <div class="tags has-addons">
              <span class="tag">{{ tag }}</span> {{ '' | link_to_remove_tag: tag | replace: 'title=', 'class="tag is-delete" title=' }}
            </div>
            {% else %}
              {{ tag | link_to_tag: tag | replace: 'title=', 'class="tag" title=' }}
            {% endif %}
          {% endfor %}
        </p>
        {% endif %}
      </header>

      <div class="columns">
        {% for product in collection.products %}
        <div class="column">
          {%- include 'product-list-item' -%}
        </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endpaginate %}
  </div>
</div>
