<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}
        <p>
          {% for link in linklists[footer_linklist].links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </p>
      {% endif %}
      <p>
        {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        {% for social in social_accounts %}
        {%- assign social_handle = social | handleize -%}
        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
        {% capture social_icon %}fa-{{ social_handle }}{% endcapture %}

        {% if settings[social_link] != blank %}
        <a class="icon" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
          <i class="fab {{ social_icon }}"></i>
        </a>
        {% endif %}
      {% endfor %}
      </p>

      <p>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <strong>{{ shop.name | link_to: '/' }}</strong>. {{ powered_by_link }}</p>

      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,diners_club,discover,jcb,master,paypal,visa' | split: ',' -%}
            <p class="payment-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                {%- assign icon_name = type | prepend: 'fa-' -%}
                <i class="fab fa-fw {{ icon_name | replace: 'amazon_payments', 'amazon' | replace: 'american_express', 'cc-amex' | replace: 'apple_pay', 'apple' | replace: 'apple_pay', 'apple' | replace: 'diners_club', 'cc-diners-club' | replace: 'discover', 'cc-discover' | replace: 'jcb', 'cc-jcb' | replace: 'master', 'cc-mastercard' | replace: 'visa', 'cc-visa' }}"></i>
              {% endif %}
            {% endfor %}
          </ul>
        {% endunless %}
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
